body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0;
    background: radial-gradient(circle at top, rgba(50, 52, 68, .3) 0%, rgba(8, 18, 22, .2) 60%, rgba(2, 3, 4, .3) 100%) fixed, radial-gradient(circle at bottom, rgba(192, 216, 255, .1) 5%, rgba(8, 12, 16, .1) 60%, rgba(4, 6, 8, .1)) fixed;
    background-color: rgba(22,24,32,1);
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.title,
.msg {
    cursor: default;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8rem;
    animation: fadeIn_op 1s linear;
}

.title {
    font-size: 8rem;
    font-family:  Lobster, 'Segoe UI Light', Roboto, sens-serif;
    transition: .5s;
    font-weight: normal;
}

.temu {
    color: #eee;
}

.su {
    color: #f04;
    font-family: 'Permanent Marker', 'Segoe UI Light', Roboto, sens-serif;
    text-shadow: 0px 0px 12px #f04,0px 0px 120px #f04;
    letter-spacing: -8px;
    margin-top: 1rem;
    margin-left: -1rem;
    animation: fadeIn_led 3s linear 1, upper 11s linear 3s infinite;
    /*animation: lower 10s linear infinite;*/
}

.msg {
    font-size: 1.25rem;
    font-family:  'Segoe UI Light', Roboto, sens-serif;
    color: #ddd;
    text-shadow: 0px 0px 2px #ddd;
    animation: fadeIn_op 2s linear;
}

@keyframes upper {
  0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity:.99; text-shadow: 0px 0px 12px #f04,0px 0px 120px #f04;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: none; 
  }
}
@keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    text-shadow: 0px 0px 12px #f04,0px 0px 120px #f04;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% {
    text-shadow: none;
  }
}
@keyframes fadeIn_led {
    0% { text-shadow: none; }
    100% { text-shadow: 0px 0px 12px #f04,0px 0px 120px #f04; }
}

@keyframes fadeIn_op {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}